/* your styles go here */
html {
  background: url("http://i.stack.imgur.com/jGlzr.png") no-repeat 0 0 scroll;
  background-color: #0c0c0c;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

body .images {
  margin: 6px;
}

body .g-main-footer {
  padding-top: 0px;
}

/*body .g-card {
  display: block;
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;{
}*/

body .g-card {
  width: 150px;
  height: 150px;
  position: relative;
  border: 1px solid #ccc;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
body .g-img-card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}
body .g-img-card div {
  /*display: block;*/

  height: 100%;
  width: 100% html {
    background: url("http://i.stack.imgur.com/jGlzr.png") no-repeat 0 0 scroll;
    background-color: #0c0c0c;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
  } /*line-height: 260px;*/
  color: white;
  text-align: center;
  font-weight: bold;
  /*font-size: 140px;*/
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
body .g-img-card .front {
  /*background: red;*/
}
body .g-img-card .back {
  /*background: blue;*/
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
body .g-card .flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
